// Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome";

@import "helper";
@import "style";

.navbar-expand-md .navbar-collapse{
	display: block !important;
}

.navbar-nav {
	display: block !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/" !important;
}